* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0b0f19; /* Azul oscuro profundo (Casi negro) */
  color: #f1f5f9;           /* Texto claro texturizado */
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: 100vh;
}

/* Scrollbar personalizada estilo Gamer */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0b0f19;
}
::-webkit-scrollbar-thumb {
  background: #1e1b4b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}